@{
    ViewBag.Title = "车位数据维护";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="row">
    <div class="col-md-2">@Html.Partial("_PartialSideNav")</div>
    <div class="col-md-10">
        <ol class="breadcrumb">
            <li><span class="glyphicon glyphicon-home">&nbsp;@Html.ActionLink("首页", "Index", "Home", new { area = "" }, htmlAttributes: new { @class = "" })</span></li>
            <li>系统维护</li>
            <li class="active">车位数据维护</li>
            <li>
                <a href="#section1">查询车位</a>&nbsp;| &nbsp;
                <a href="#section2">数据挪移</a>&nbsp;| &nbsp;
                <a href="#section3">车位禁启</a>&nbsp;| &nbsp;
                <a href="#section4">数据入库</a>&nbsp;| &nbsp;
                <a href="#section5">数据出库</a>&nbsp;| &nbsp;
                <a href="#section6">指纹查询</a>
            </li>
        </ol>
        <div class="panel panel-default">
            <div class="panel-heading">
                <p class="text-center text-info">
                    仅维护系统数据，不对设备下发任何指令。
                </p>
            </div>           
            <div class="panel-body">
                <div id="section1">
                    <form id="frmFind" name="frmFind" class="form-horizontal" role="form">
                        <fieldset>
                            <legend>车位查询</legend>
                            <div class="form-group">
                                <label for="txtIccd" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="chkplate" name="chkplate"/>&nbsp;是否以<b>车牌号</b>查询
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtIccd" class="col-md-2 control-label" id="proof">用户卡号</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="txtIccd" name="txtIccd" placeholder="用户卡号" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtFindWh" class="col-md-2 control-label">库区</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="txtFindWh" name="txtFindWh" disabled/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtloc" class="col-md-2 control-label">存车车位</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="txtFindloc" name="txtFindloc" disabled/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10 col-md-offset-2">
                                    <button type="button" id="btnFind" class="btn btn-default">查 询</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div id="section2">
                    <form id="frmTrans" name="frmTrans" class="form-horizontal" role="form">
                        <fieldset>
                            <legend>数据挪移</legend>
                            <div class="form-group">
                                <label for="txtTransWh" class="col-md-2 control-label">库区</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="txtTransWh" name="txtTransWh" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtFrom" class="col-md-2 control-label">起始车位</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="txtFrom" name="txtFrom" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtTo" class="col-md-2 control-label">目的车位</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="txtTo" name="txtTo" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10 col-md-offset-2">
                                    <button type="button" id="btnTrans" class="btn btn-default">数据挪移</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div id="section3">
                    <form id="frmDis" name="frmDis" class="form-horizontal" role="form">
                        <fieldset>
                            <legend>车位禁启用</legend>
                            <div class="form-group">
                                <label for="txtDisWh" class="col-md-2 control-label">库区</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="txtDisWh" name="txtDisWh" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtDisLoc" class="col-md-2 control-label">车位</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="txtDisLoc" name="txtDisLoc" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10 col-md-offset-2">
                                    <button type="button" id="btnDis" class="btn btn-default" style="margin-right:15px">禁 用</button>
                                    <button type="button" id="btnEnable" class="btn btn-default">启 用</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>               
                <div id="section4">
                    <form id="frmIn" name="frmIn" class="form-horizontal" role="form">
                        <fieldset>
                            <legend>数据入库</legend>
                            <div class="form-group">
                                <label for="txtInWh" class="col-md-2 control-label">库区</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="txtInWh" name="txtInWh" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtInLoc" class="col-md-2 control-label">车位</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="txtInLoc" name="txtInLoc" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtInDtime" class="col-md-2 control-label">入库时间</label>
                                <div class="col-md-10">
                                    <input type="date" class="form-control form_datetime" id="txtInDtime" name="txtInDtime" placeholder="格式：2017-04-01 00:00" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtInIccd" class="col-md-2 control-label">用户卡号</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="txtInIccd" name="txtInIccd" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtInPlate" class="col-md-2 control-label">车牌号码</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="txtInPlate" name="txtInPlate" placeholder="允许为空" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtInDist" class="col-md-2 control-label">车辆轴距</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="txtInDist" name="txtInDist" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtInSize" class="col-md-2 control-label">车辆外形</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="txtInSize" name="txtInSize" placeholder="例：111或112"/>
                                </div>
                            </div>                          
                            <div class="form-group">
                                <div class="col-md-10 col-md-offset-2">
                                    <button type="button" id="btnIn" class="btn btn-default">数据入库</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div id="section5">
                    <form id="frmOut" name="frmOut" class="form-horizontal" role="form">
                        <fieldset>
                            <legend>数据出库</legend>
                            <div class="form-group">
                                <label for="txtOutWh" class="col-md-2 control-label">库区</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="txtOutWh" name="txtOutWh" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtOutLoc" class="col-md-2 control-label">车位</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="txtOutLoc" name="txtOutLoc" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10 col-md-offset-2">
                                    <button type="button" id="btnOut" class="btn btn-default">数据出库</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div id="section6"> 
                    <div class="form-horizontal">
                        <fieldset>
                            <legend>指纹用户信息查询</legend>
                            <div class="form-group">
                                <label for="fpusername" class="col-md-2 control-label">车主姓名</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="fpusername" name="fpusername" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="fpplate" class="col-md-2 control-label">车牌号码</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="fpplate" name="fpplate" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="fpoutWh" class="col-md-2 control-label">存车库区</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="fpsavewh" name="fpsavewh" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="fpoutLoc" class="col-md-2 control-label">存车车位</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="fpsaveloc" name="fpsaveloc" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="fpoutLoc" class="col-md-2 control-label">指纹编号</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="fpcode" name="fpcode" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10 col-md-offset-2">
                                    <button type="button" id="btnFPrint" class="btn btn-default">采集指纹</button>
                                </div>
                            </div>
                        </fieldset>
                    </div>                    
                </div>
            </div>
        </div>             
    </div>
</div>

<div>
    <object classid="clsid:5F709CBC-669E-466B-91A3-66A626E987EA" width="152" height="200" id="dtm" codebase="Fp30Dev_WL.ocx" hidden></object>
</div>

@section scripts{
    <script>
        $(function () {

            $('.form_datetime').datetimepicker({
                language: 'zh-CN',
                weekStart: 1,
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                forceParse: 0,
                showMeridian: 1
            });

            $("#btnFind").click(function () {
                $("#txtFindWh").val("");
                $("#txtFindloc").val("");

                var iccode = $("#txtIccd").val().trim();
                if (iccode == "") {
                    BootstrapDialog.show({
                        title: "温馨提示",
                        message: "请输入用户凭证！"
                    });
                    return;
                }
                var chk = $('#chkplate').is(':checked');

                $.ajax({
                    type: "GET",
                    url: "@Url.Action("FindLocByICCard")",
                    data: { "txtIccd": iccode, "isplate": chk },
                    dataType: "json",
                    cache: false,
                    beforeSend: function (XMLHttpRequest) {
                        $("#btnFind").text("查询中");
                    },
                    success: function (resp) {
                        if (resp.Code == 1) {
                            var data = resp.Data;
                            $("#txtFindWh").val(data.Warehouse);
                            $("#txtFindloc").val(data.LocAddress);
                        }
                        else {
                            BootstrapDialog.warning("没有找到存车车位！");
                        }
                    },
                    complete: function (XMLHttpRequest, textStatus) {
                        $("#btnFind").text("查 询");
                    }
                });

            });

            $("#btnTrans").click(function () {
                var $wh = $("input[name='txtTransWh']")
                if ($wh.val().trim() == "") {
                    BootstrapDialog.show({
                        title: "温馨提示",
                        message: "库区不允许为空！"
                    });
                    return;
                }
                var $from = $("input[name='txtFrom']");
                var $to = $("#txtTo");
                if ($from.val().trim() == "" || $to.val().trim() == "") {
                    BootstrapDialog.show({
                        title: "温馨提示",
                        message: "源地址或目的地址不允许为空！"
                    });
                    return;
                }
                var params = $("form[name='frmTrans']").serialize();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("TransferLoc")",
                    cache: false,
                    data: params,
                    dataType: "text",
                    success: function (data) {
                        BootstrapDialog.show({
                            title: "温馨提示",
                            message: data
                        });
                        $from.val("");
                        $to.val("")
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {

                    }
                });
            });

            $("#btnDis").click(function () {
                DisableLoc(true);
            });

            $("#btnEnable").click(function () {
                DisableLoc(false);
            });

            $("#btnIn").click(function () {
                var $wh = $("#txtInWh");
                if ($wh.val().trim() == "") {
                    BootstrapDialog.show({
                        title: "温馨提示",
                        message: "库区不允许为空！"
                    });
                    return;
                }

                var $addrs = $("#txtInLoc");
                if ($addrs.val().trim() == "") {
                    BootstrapDialog.show({
                        title: "温馨提示",
                        message: "入库地址不允许为空！"
                    });
                    return;
                }
                var $time = $("#txtInDtime");
                if ($time.val().trim() == "") {
                    BootstrapDialog.show({
                        title: "温馨提示",
                        message: "入库时间不允许为空！"
                    });
                    return;
                }
                var $iccd = $("#txtInIccd");
                if ($iccd.val().trim() == "") {
                    BootstrapDialog.show({
                        title: "温馨提示",
                        message: "入库卡号不允许为空！"
                    });
                    return;
                }

                var $dist = $("input[name='txtInDist']");
                if ($dist.val().trim() == "") {
                    BootstrapDialog.show({
                        title: "温馨提示",
                        message: "车辆轴距不允许为空！"
                    });
                    return;
                }

                var $carsize = $("#txtInSize");
                if ($carsize.val().trim() == "") {
                    BootstrapDialog.show({
                        title: "温馨提示",
                        message: "车辆外形不允许为空！"
                    });
                    return;
                }

                var params = $("form[name='frmIn']").serialize();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("LocationIn")",
                    cache: false,
                    data: params,
                    dataType: "text",
                    success: function (data) {
                        BootstrapDialog.show({
                            title: "温馨提示",
                            message: data
                        });
                        $wh.val("");
                        $addrs.val("")
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {

                    }
                });
            });

            $("#btnOut").click(function () {
                var $wh = $("#txtOutWh");
                if ($wh.val().trim() == "") {
                    BootstrapDialog.show({
                        title: "温馨提示",
                        message: "库区不允许为空！"
                    });
                    return;
                }

                var $addrs = $("#txtOutLoc");
                if ($addrs.val().trim() == "") {
                    BootstrapDialog.show({
                        title: "温馨提示",
                        message: "地址不允许为空！"
                    });
                    $addrs.focus();
                    return;
                }

                var params = $("form[name='frmOut']").serialize();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("LocationOut")",
                    cache: false,
                    data: params,
                    dataType: "text",
                    success: function (data) {
                        BootstrapDialog.show({
                            title: "温馨提示",
                            message: data
                        });
                        $wh.val("");
                        $addrs.val("")
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {

                    }
                });

            });

            $("#chkplate")[0].checked = false;

            $("input[name='chkplate']").click(function () {
                checkboxClick();
            });

            function checkboxClick() {
                $("#txtIccd").val("");
                var chk = $('#chkplate').is(':checked');
                if (chk) {
                    $("#proof").html("车牌号码");
                    $("#txtIccd").attr("placeholder", "登记车牌号码");
                }
                else {
                    $("#proof").html("用户卡号");
                    $("#txtIccd").attr("placeholder", "用户卡号");
                }
            }

            //修改codebase
            setTimeout(function () {
                //绑定OCX所在目录
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetOCXIPAddress")",
                    dataType: "text",
                    cache: false,
                    success: function (resp) {
                        if (resp != "") {
                            $("object[id='dtm']").attr("codebase", resp + "Fp30Dev_WL.ocx");
                            console.log($("object[id='dtm']").attr("codebase"));
                        }
                    }
                });

            }, 500);

            $("#btnFPrint").click(function () {

                $("input[name='fpcode']").val("");
                $("input[name='fpusername']").val("");
                $("input[name='fpplate']").val("");
                $("input[name='fpsavewh']").val("");
                $("input[name='fpsaveloc']").val("");

                if (window.ActiveXObject || "ActiveXObject" in window) {
                    console.log("is ie");
                }
                else {
                    BootstrapDialog.show({
                        title: "温馨提示",
                        message: "请使用IE浏览器进行操作！"
                    });
                    return;
                }
                var iRet = -1;
                try {
                    iRet = dtm.FConnect();
                }
                catch (err) {
                    BootstrapDialog.show({
                        title: "温馨提示",
                        message: "请先注册指纹仪OCX控件！"
                    });
                    return;
                }
                //var iRet = dtm.FConnect();
                if (iRet != 0) {
                    BootstrapDialog.warning("连接指纹仪失败");
                    return;
                }
                $("#btnFPrint").attr("disabled", true);

                iRet = dtm.FGetFeature(15000);
                if (iRet != 0) {
                    if (iRet == -100) {
                        BootstrapDialog.show({
                            title: "温馨提示",
                            message: "用户取消!"
                        });
                    }
                    else {
                        BootstrapDialog.show({
                            title: "温馨提示",
                            message: "采集指纹模板失败!"
                        });
                    }
                    $("#btnFPrint").removeAttr("disabled");
                }
                else {
                    //获取特性值
                    var strTZ = dtm.FGetFingerInfo();

                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("SubmitFPrintFeacture")",
                        data: { "strTZ": strTZ },
                        dataType: "json",
                        cache: false,
                        success: function (resp) {
                            if (resp.Code == 1) {
                                var iRet = resp.Data;                               
                                $("input[name='fpcode']").val(iRet.SNNumber);
                                $("input[name='fpusername']").val(iRet.UserName);
                                $("input[name='fpplate']").val(iRet.Plate);
                                $("input[name='fpsavewh']").val(iRet.Warehouse);
                                $("input[name='fpsaveloc']").val(iRet.LocAddrs);
                            }
                        },
                        complete: function (XMLHttpRequest, textStatus) {
                            $("#btnFPrint").removeAttr("disabled");
                        }
                    });
                }

            });


        });

        function DisableLoc(isDis) {
            var $wh = $("#txtDisWh");
            var $loc = $("#txtDisLoc");
            if ($wh.val().trim() == "") {
                BootstrapDialog.show({
                    title: "温馨提示",
                    message: "库区不允许为空！"
                });
                return;
            }
            if ($loc.val().trim() == "") {
                BootstrapDialog.show({
                    title: "温馨提示",
                    message: "车位地址不允许为空！"
                });
                return;
            }
            var params = $("form[name='frmDis']").serialize() + "&isDis=" + isDis;
            $.ajax({
                type: "GET",
                cache: false,
                url: "@Url.Action("DisableLocation")",
                dataType: "text",
                data: params,
                success: function (data) {
                    BootstrapDialog.show({
                        title: "温馨提示",
                        message: data
                    });
                }
            });

        }
    </script>
    }
