@{
    ViewBag.Title = "任务详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .loading-content{
        cursor: default; 
        position: absolute;
        left: 150px; 
        top: 120px;  
        z-index: 100019; 
        width: auto;
        border: 1px solid rgb(187, 187, 187); 
        height: 80px; 
        line-height: 80px; 
        padding-left: 80px; 
        padding-right: 20px; 
        border-radius: 10px; 
        color: rgb(102, 102, 102); 
        font-size: 18px;        
        background: url(/Image/loading.gif) 5px 50% no-repeat rgb(255, 255, 255);
        box-shadow: 0 1px 15px rgba(0,0,0,.175);

    }
</style>

<br />
<div class="row">
    <div class="col-md-2">@Html.Partial("_PartialSideNav")</div>
    <div class="col-md-10 loadPage">
        <ol class="breadcrumb">
            <li><span class="glyphicon glyphicon-home">&nbsp;@Html.ActionLink("首页", "Index", "Home", new { area = "" }, htmlAttributes: new { @class = "" })</span></li>
            <li>系统维护</li>
            <li><a href="@Url.Action("TaskManager", "Manage",new { area="SystemManager"})">故障处理</a></li>
            <li>任务详情</li>
        </ol>
        <hr />
        <div style="display:none" class="dispPage">
            <div style="margin:10px 20px 20px 20px">
                <input type="hidden" id="taskID" value="@ViewBag.ID" />
                <form id="form1">
                    <table class="form">
                        <tr>
                            <th class="formTitle">库区</th>
                            <td class="formValue">
                                <input id="wh" name="wh" type="text" class="form-control" />
                            </td>
                            <th class="formTitle">设备号</th>
                            <td class="formValue">
                                <input id="code" name="code" type="text" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">类型</th>
                            <td class="formValue">
                                <input id="type" name="type" type="text" class="form-control" />
                            </td>
                            <th class="formTitle">状态</th>
                            <td class="formValue">
                                <input id="status" name="status" type="text" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">发送时间</th>
                            <td class="formValue">
                                <input id="sendDtime" name="sendDtime" type="text" class="form-control" />
                            </td>
                            <th class="formTitle">建立时间</th>
                            <td class="formValue">
                                <input id="createDate" name="createDate" type="text" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">所用车厅</th>
                            <td class="formValue">
                                <input id="hallCode" name="hallCode" type="text" class="form-control" />
                            </td>
                            <th class="formTitle">用户卡号</th>
                            <td class="formValue">
                                <input id="iccode" name="iccode" type="text" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">起始地址</th>
                            <td class="formValue">
                                <input id="fromLctAddress" name="fromLctAddress" type="text" class="form-control" />
                            </td>
                            <th class="formTitle">目的地址</th>
                            <td class="formValue">
                                <input id="toLctAddress" name="toLctAddress" type="text" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">车辆辆距</th>
                            <td class="formValue">
                                <input id="distance" name="distance" type="text" class="form-control" />
                            </td>
                            <th class="formTitle">车辆外形</th>
                            <td class="formValue">
                                <input id="carsize" name="carsize" type="text" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle" valign="top" style="padding-top: 5px;">
                                发送状态
                            </th>
                            <td class="formValue" colspan="3">
                                <textarea id="sendStatusDetail" name="sendStatusDetail" class="form-control" style="height: 80px;"></textarea>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div>
                <button class="btn btn-default" id="btnFinish" style="margin-left:40px;margin-right:40px">手动完成</button>
                <button class="btn btn-default" id="btnReset" style="margin-right:40px">手动复位</button>
                <button class="btn btn-default" id="btnMURO" disabled>MURO 继续</button>
            </div>
        </div>        
        <div class="loading-content" style="display:none">数据加载中，请稍后…</div>        
    </div>
</div>

@section scripts{
    @Styles.Render("~/Content/defform")
    <script>
        $(function () {

            var $loading = $(".loading-content");
            var $page = $(".loadPage");
            $loading.css("left", ($page.width() - $loading.width()) / 2 - 50);           

            var id = $("#taskID").val();
            console.log(id);

            if (id > 0)
            {                
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetTaskDetailByID")",
                    data: { "ID": id },
                    dataType: "json",
                    cache: false,
                    beforeSend: function (XMLHttpRequest) {
                        $loading.css("display","block");
                    },
                    success: function (data) {

                        $(".dispPage").css("display", "block");
                        $loading.css("display", "none");

                        $("#taskID").val(data.ID);
                        $("#wh").val(data.Warehouse);
                        $("#code").val(deviceFormatter(data.DeviceCode));
                        $("#type").val(data.Type);
                        $("#status").val(data.Status);
                        $("#sendDtime").val(data.SendDtime);
                        $("#createDate").val(data.CreateDate);
                        $("#hallCode").val(deviceFormatter(data.HallCode));
                        $("#iccode").val(data.ICCardCode);
                        $("#fromLctAddress").val(data.FromLctAddress);
                        $("#toLctAddress").val(data.ToLctAddress);
                        $("#distance").val(data.Distance);
                        $("#carsize").val(data.CarSize);
                        $("#sendStatusDetail").val(data.SendStatusDetail);

                        if (data.DeviceCode < 10)
                        {
                            var cts = data.Status;                            
                            if (cts=="故障中")
                            {
                                console.log("remove");
                                $("#btnMURO").removeAttr("disabled");
                            }
                        }
                    }
                });
            }
            $("#btnFinish").click(function () {
               
                if (id == "") {
                    BootstrapDialog.show({
                        title: "友情提示",
                        message: "<b>ID值为空，系统错误，请返回重新请求！</b>",
                    });
                    return;
                }

                BootstrapDialog.show({
                    title:"友情提示",
                    message:"<b>确定手动完成作业？ ID-"+id+"</b>",
                    buttons: [{
                        label: "确 定",
                        action: function (self) {
                            $.post("@Url.Action("CompleteTask")", { tid: id }, function (msg) {
                                alert(msg);
                                window.location.href = "/SystemManager/Manage/TaskManager";
                            });
                            self.close();
                        }
                    }, {
                        label: "取 消",
                        action: function (self) {
                            self.close();
                        }
                    }]
                });
            });

            $("#btnReset").click(function(){
               
                if (id == "") {
                    BootstrapDialog.show({
                        title: "友情提示",
                        message: "<b>ID值为空，系统错误，请返回重新请求！</b>",
                    });
                    return;
                }

                BootstrapDialog.show({
                    title:"友情提示",
                    message:"<b>确定手动复位作业？ ID-"+id+"</b>",
                    buttons: [{
                        label: "确 定",
                        action: function (self) {
                            $.post("@Url.Action("ResetTask")", { tid: id }, function (msg) {
                                alert(msg);
                                window.location.href = "/SystemManager/Manage/TaskManager";
                            });
                            self.close();
                        }
                    }, {
                        label: "取 消",
                        action: function (self) {
                            self.close();
                        }
                    }]
                });
            });

            //MURO继续
            $("#btnMURO").click(function () {

                if (id == "") {
                    BootstrapDialog.show({
                        title: "友情提示",
                        message: "<b>ID值为空，系统错误，请返回重新请求！</b>",
                    });
                    return;
                }

                BootstrapDialog.show({
                    title:"友情提示",
                    message:"<b>确定要强制继续当前作业？ 如果搬运器上有车，则会下发卸载指令；如果搬运器上无车，则会下发装载指令。 ID-"+id+"</b>",
                    buttons: [{
                        label: "确 定",
                        action: function (self) {
                            $.post("@Url.Action("MUROTask")", { ids: id }, function (msg) {
                                alert(msg);
                                window.location.href = "/SystemManager/Manage/TaskManager";
                            });
                            self.close();
                        }
                    }, {
                        label: "取 消",
                        action: function (self) {
                            self.close();
                        }
                    }]
                });

            });

            //设备号
            function deviceFormatter(value)
            {
                if (value > 10)
                {
                    return (value - 10) + "#车厅";
                } else
                {
                    return value + "#TV"
                }
            }

        });
    </script>

    }