<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 车库管理系统</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrapplugin")
    @Styles.Render("~/Content/bootstrapselect")
    @Styles.Render("~/Content/rocket")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>                
               @Html.ActionLink("应用程序","index","home",new { area=""},htmlAttributes:new {@class="navbar-brand" })            
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("主页", "index", "home", new { area = "" }, htmlAttributes: new { @class = "" })</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button">系统管理<strong class="caret"></strong></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a href="" data-toggle="dropdown" class="dropdown-toggle">系统维护</a>
                                <ul class="dropdown-menu" id="threemenu" role="menu">
                                    <li><a href="@Url.Action("TaskManager", "Manage",new { area="SystemManager"})">故障处理</a></li>
                                    <li><a href="@Url.Action("CarpotManager", "Manage",new { area="SystemManager"})">车位维护</a></li>
                                    <li><a href="@Url.Action("QueueManager", "Manage",new { area="SystemManager"})">队列维护</a></li>
                                </ul>
                            </li>                           
                            <li><a href="@Url.Action("Index", "MSConfig",new { area="SystemManager"})">系统配置</a></li>
                            <li class="divider"></li>
                            <li><a href="@Url.Action("Index", "FaultSummary",new { area="SystemManager"})">故障汇总</a></li>
                            <li><a href="@Url.Action("Index", "ManualOprt",new { area="SystemManager"})">手动指令</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">顾客管理<strong class="caret"></strong></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("ICCard", "Manage",new { area="CustomManager"})">IC卡管理</a></li>
                            <li><a href="@Url.Action("Index", "CustomerManager", new { area="CustomManager"})">车主管理</a></li>                            
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">收费管理<strong class="caret"></strong></a>
                        <ul class="dropdown-menu">                           
                            <li><a href="@Url.Action("TempCardCharge", "Manage",new { area="ChargeManager"})">临时类缴费</a></li>
                            <li><a href="@Url.Action("FixCardCharge", "Manage",new { area="ChargeManager"})">固定类缴费</a></li>                           
                            <li class="divider"></li>
                            <li><a href="@Url.Action("Index", "ChargingRule",new { area="ChargeManager"})">计费规则管理</a></li>
                            <li><a href="#">收费规则测试</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">统计报表<strong class="caret"></strong></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("TelegramReport", "Report",new { area="ReportManager"})">报文日志查询</a></li>                           
                            <li><a href="@Url.Action("OprtReport", "Report",new { area="ReportManager"})">操作日志查询</a></li>                           
                            <li><a href="@Url.Action("FaultReport", "Report",new { area="ReportManager"})">故障日志查询</a></li>                            
                        </ul>
                    </li>                                       
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>   
    <div class="container body-content">
        @RenderBody()
        <div class="row">
            <hr />
            <footer class="text-center">
                <p>@DateTime.Now.Year&nbsp;&nbsp;&nbsp;&copy;&nbsp;深圳中集智能停车有限公司 &nbsp;&nbsp;&nbsp;版权所有</p>
                <p>
                    @Html.ActionLink("关于我们", "About", "home", new { area = "" }, htmlAttributes: new { @class = "", target = "_blank" })&nbsp;&nbsp;&nbsp;&nbsp;
                    @Html.ActionLink("微信公众号", "WeChat", "home", new { area = "" }, htmlAttributes: new { @class = "", target = "_blank" })
                </p>
            </footer>
        </div>
    </div>

    <div style="display:none" id="rocket-to-top">
        <div style="opacity:0;display:block" class="level-2"></div>
        <div class="level-3"></div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/signalr")
    @Scripts.Render("~/bundles/plugin")
    @Scripts.Render("~/bundles/bootstrapselect")  
    @Scripts.Render("~/bundles/rocket")  
    <script src="~/signalr/hubs"></script>

    @RenderSection("scripts", required: false)

</body>
</html>
