<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 车库管理系统</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrapplugin")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="javascript:void(0)" data-toggle="modal" data-target="#svcModal">应用程序</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("主页", "Index", "Home",new { area=""},htmlAttributes:new { @class=""})</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">系统管理<strong class="caret"></strong></a>
                        <ul class="dropdown-menu" role="menu">                           
                            <li class="dropdown-submenu">
                                <a href="" data-toggle="dropdown" class="dropdown-toggle">系统维护</a>
                                <ul class="dropdown-menu" id="threemenu" role="menu">
                                    <li><a href="@Url.Action("TaskManager", "Manage",new { area="SystemManager"})">故障处理</a></li>
                                    <li><a href="@Url.Action("CarpotManager", "Manage",new { area="SystemManager"})">车位维护</a></li>
                                    <li><a href="@Url.Action("QueueManager", "Manage",new { area="SystemManager"})">队列维护</a></li>
                                </ul>
                            </li>                        
                            <li><a href="@Url.Action("Index", "MSConfig",new { area="SystemManager"})">系统配置</a></li>
                            <li class="divider"></li>
                            <li><a href="#">故障汇总</a></li>
                            <li><a href="#">手动指令</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">顾客管理<strong class="caret"></strong></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">IC卡管理</a></li>
                            <li><a href="#">车主管理</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">收费管理<strong class="caret"></strong></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">IC卡缴费</a></li>
                            <li><a href="#">收费标准</a></li>
                            <li class="divider"></li>
                            <li><a href="#">计费制定</a></li>
                            <li><a href="#">收费测试</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">统计报表<strong class="caret"></strong></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">操作日志</a></li>
                            <li><a href="#">故障日志</a></li>
                            <li><a href="#">设备状态日志</a></li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container">
        <div class="modal fade" id="svcModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            @* 窗口声明层 *@
            <div class="modal-dialog">
                @* 内容层 *@
                <div class="modal-content">
                    @* 头部 *@
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">服务管理</h4>
                    </div>
                    @* 内容 *@
                    <div class="modal-body">
                        <p>当前服务线程状态：</p>
                        <p id="svcStatus" class="text-center text-primary">...</p>
                    </div>
                    @* 注脚 *@
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="svcRun">运 行</button>&nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-default" id="svcStop">停 止</button>&nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p>@DateTime.Now.Year&nbsp;&nbsp;&nbsp;&copy;&nbsp;深圳中集智能停车有限公司 &nbsp;&nbsp;&nbsp;版权所有</p>
            <p>
                <a href="@Url.Action("About","Home")" target="_blank">关于我们</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="@Url.Action("WeChat","Home")" target="_blank">微信公众号</a>
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/signalr")
    @Scripts.Render("~/bundles/plugin")
    @RenderSection("scripts", required: false)

    <script src="~/signalr/hubs"></script>
    @Scripts.Render("~/bundles/defsignalr")
</body>
</html>
