
@{
    ViewBag.Title = "固定类规则";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row">
    <div class="col-md-2">@Html.Partial("_PartialSideNav")</div>
    <div class="col-md-10">
        <ol class="breadcrumb">
            <li><span class="glyphicon glyphicon-home">&nbsp;@Html.ActionLink("首页", "Index", "Home", new { area = "" }, htmlAttributes: new { @class = "" })</span></li>
            <li>计费规则</li>
            <li class="active">固定类规则</li>
        </ol>

        <div id="disp" style="display:none;border:1px solid #ccd232;padding-top:25px">
            <form>
                <div class="form-horizontal">                  
                    <div class="form-group" hidden>
                        <label class="control-label col-md-2">ID</label>
                        <div class="col-md-4">
                            <input type="text" id="cID" name="cID" class="form-control" value="0"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">卡类型</label>
                        <div class="col-md-4">
                            <select id="ccard" name="ccard" class="form-control">
                                <option value="1">请选择</option>
                                <option value="2">定期卡</option>
                                <option value="3">固定卡</option>                               
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">收费类型</label>
                        <div class="col-md-4">
                            <select id="cunit" name="cunit" class="form-control">
                                <option value="0">请选择</option>                              
                                <option value="1">月</option>
                                <option value="2">季度</option>
                                <option value="3">年</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">费用</label>
                        <div class="col-md-4">
                            <input type="text" id="cfee" name="cfee" class="form-control" />
                        </div>
                    </div>                   
                    <div class="form-group">
                        <div class="col-md-3 col-md-offset-2">
                            <button type="button" class="btn btn-default" id="btn" name="btn"></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div>
            <div id="toolbar" class="btn-group pull-right" role="group">
                <button id="btn_add" class="btn btn-default"><span></span>新 增</button>
                <button id="btn_edit" class="btn btn-default"><span></span>编 辑</button>
            </div>
            <table id="tGrid"></table>
        </div>       
    </div>
</div>

@section scripts{

    @Styles.Render("~/Content/bootstraptable")
    @Scripts.Render("~/bundles/bootstraptable")

    <script>
        $(function () {

            var $table = $("#tGrid");
            $table.bootstrapTable({
                toolbar: "#toolbar",
                toolbarAlign: "right",
                buttonsAligh: "right",
                showRefresh: true,
                showToggle: true,
                showFooter: false,
                pagination: true,
                striped: true,              //是否显示行间隔色
                sidePagination: "server",
                clickToSelect: true,
                singleSelect: true,
                pageNumber: 1,              //初始化加载第一页，默认第一页
                pageSize: 10,                 //每页的记录数
                pageList: "[5,10,20,50]",
                method: "post",
                url: "@Url.Action("FindFixRuleLst")",
                queryParams: queryParams,         //前端调用服务时，会默认传递上边提到的参数
                queryParamsType: "",              //设置为 ''  在这种情况下传给服务器的参数为：pageSize,pageNumber
                dataType: "json",
                columns: [
                    {
                        title: "选中",
                        checkbox: true,
                        align: "center",
                        valign: "middle"
                    },
                    {
                        title: "ID",
                        field: "ID",
                        visible: true,
                        align: "center",
                        valign: "middle",
                        visible: false
                    },
                    {
                        title: "卡类型",
                        field: "ICType",
                        align: "center",
                        valign: "middle"
                    },
                    {
                        title: "收费类型",
                        field: "Unit",
                        align: "center",
                        valign: "middle"
                    },
                    {
                        title: "金额",
                        field: "Fee",
                        align: "left",
                        valign: "middle"
                    },
                    {
                        title: "操作",
                        field: "Operate",
                        align: "center",
                        valign: "middle",
                        events: actionEvents,
                        formatter: operateFormatter
                    }
                ],

                formatLoadingMessage: function () {
                    return "请稍等，正在加载中...";
                },

                formatNoMatches: function () {
                    return "无符合条件的记录";
                },

                onClickRow: function (row, tr) {
                    var dis = $('#disp').css("display");
                    if (dis === 'block') {
                        $("#btn").text("修 改");
                        $("#cID").val(row.ID);
                        $("#ccard").val(row.ICType);
                        $("#cunit").val(row.Unit);
                        $("#cfee").val(row.Fee);                       
                    }
                }

            });

            function queryParams(params) {
                return params;
            }

            function operateFormatter(value, row, index) {
                return '<a class="delete" href="javascript:void(0)" title="删除"><i class="glyphicon glyphicon-trash"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
            }

            $("#btn_add").click(function () {
                $("#btn").text("添 加");
                $("#disp").css("display", "block");

                $("#cID").val("0");
                $("#ccard").val("1");
            });

            $("#btn_edit").click(function () {

                var selected = $table.bootstrapTable('getSelections')[0];
                if (typeof (selected) == 'undefined')
                {
                    BootstrapDialog.warning("请选择一行数据！");
                }
                else
                {
                    $("#btn").text("修 改");
                    $("#disp").css("display", "block");

                    $("#cID").val(selected.ID);
                    $("#ccard").val(selected.ICType);
                    $("#cfee").val(selected.Fee);
                    $("#cunit").val(selected.Unit);
                }

            });

            //确认
            $("#btn").click(function () {
                var $id = $("#cID");
                var curl = "";
                if ($id.val() == '0') {
                    //添加
                    curl = "@Url.Action("AddFixRule")";
                }
                else {
                    //修改
                    curl = "@Url.Action("ModifyFixRule")";
                }

                var ctype = $("#ccard").val();
                if (ctype == 1)
                {
                    BootstrapDialog.warning("请选择卡类型！");
                    return;
                }
                var cunit = $("cunit").val();
                if (cunit == 0)
                {
                    BootstrapDialog.warning("请选择收费类型！");
                    return;
                }

                var para = $("form").serialize();

                $.ajax({
                    type: "POST",
                    url: curl,
                    data: para,
                    dataType: "json",
                    cache: false,
                    beforeSend: function (XMLHttpRequest) {
                        $("#btn").text("提交中");
                    },
                    success: function (data) {
                        BootstrapDialog.show({
                            title: "温馨提示",
                            message: data.Message
                        });

                        if (data.Code == 1) {
                            $("#disp").css("display", "none");
                            $table.bootstrapTable("refresh");
                        }
                    },
                    complete: function (XMLHttpRequest, textStatus) {
                        $("#btn").text("确 认");
                    }
                });

            });


        });

        window.actionEvents = {
            'click .delete': function (e, value, row, index) {

                BootstrapDialog.confirm("确定要删除该记录？ID为 " + row.ID, function (result) {
                    if (result) {

                        $.ajax({
                            type: "GET",
                            url: "@Url.Action("DeleteFixRule")",
                            data: { "ID": row.ID },
                            dataType: "json",
                            cache: false,
                            beforeSend: function (XMLHttpRequest) {
                            },
                            success: function (data) {
                                BootstrapDialog.show({
                                    title: "温馨提示",
                                    message: data.Message
                                });

                                window.location.href = "/ChargeManager/ChargingRule/FixRule";
                            },
                            complete: function (XMLHttpRequest, textStatus) {
                            }
                        });
                    }
                });
            }
        };

    </script>

    }

