
@{
    ViewBag.Title = "预付类规则";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row">
    <div class="col-md-2">@Html.Partial("_PartialSideNav")</div>
    <div class="col-md-10">
        <ol class="breadcrumb">
            <li><span class="glyphicon glyphicon-home">&nbsp;@Html.ActionLink("首页", "Index", "Home", new { area = "" }, htmlAttributes: new { @class = "" })</span></li>
            <li>计费规则</li>
            <li class="active">预付类规则</li>              
        </ol>
        <div id="disp" style="display:none">
            <form style="border:1px solid #ccd232">
                <div class="form-horizontal">
                    <h4 id="htitle" class="margin-base-vertical col-md-offset-3"></h4>
                    <hr />
                    <div class="form-group" hidden>
                        <label class="control-label col-md-2">ID</label>
                        <div class="col-md-4">
                            <input type="text" id="cID" name="cID" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">周期单位</label>
                        <div class="col-md-4">
                            <select id="cunit" name="cunit" class="form-control">
                                <option value="0">请选择</option>
                                <option value="1">天</option>
                                <option value="2">月份</option>
                                <option value="3">季度</option>
                                <option value="4">小时</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">充值周期</label>
                        <div class="col-md-4">
                            <input type="text" id="cnum" name="cnum" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">预缴费用</label>
                        <div class="col-md-4">
                            <input type="text" id="cfee" name="cfee" class="form-control" />
                        </div>
                    </div>                 
                    <div class="form-group">
                        <div class="col-md-3 col-md-offset-2">
                            <button type="button" class="btn btn-default" id="btn" name="btn"></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>     
        <div>
            <div id="toolbar" class="btn-group pull-right" role="group">
                <button id="btn_add" class="btn btn-default"><span></span>新 增</button>
                <button id="btn_edit" class="btn btn-default"><span></span>编 辑</button>
            </div>
            <table id="tGrid"></table>
        </div>       
    </div>
</div>

@section scripts{
    @Styles.Render("~/Content/bootstraptable")
    @Scripts.Render("~/bundles/bootstraptable")
    <script>

        $(function () {

            var $table = $("#tGrid");
            $table.bootstrapTable({
                toolbar: "#toolbar",
                toolbarAlign: "right",
                buttonsAligh: "right",
                showRefresh: true,
                showToggle: true,
                showFooter: false,
                pagination: true,
                striped: true,              //是否显示行间隔色
                sidePagination: "server",
                clickToSelect: true,
                singleSelect: true,
                pageNumber: 1,              //初始化加载第一页，默认第一页
                pageSize: 10,                 //每页的记录数
                pageList: "[5,10,20,50]",
                method: "post",
                url: "@Url.Action("FindPreRuleList")",
                queryParams: queryParams,         //前端调用服务时，会默认传递上边提到的参数
                queryParamsType: "",              //设置为 ''  在这种情况下传给服务器的参数为：pageSize,pageNumber
                dataType: "json",
                columns: [
                    {
                        title: "选中",
                        checkbox: true,
                        align: "center",
                        valign: "middle"
                    },
                    {
                        title: "ID",
                        field: "ID",
                        visible: true,
                        align: "center",
                        valign: "middle",
                        visible: false,
                        sortable: true
                    },
                    {
                        title: "充值周期",
                        field: "CycleNum",
                        align: "center",
                        valign: "middle"
                    },
                    {
                        title: "周期单位",
                        field: "CycleUnit",
                        align: "center",
                        valign: "middle",
                        sortable: true
                    },
                    {
                        title: "收费金额",
                        field: "Fee",
                        align: "left",
                        valign: "middle"
                    },
                    {
                        title: "操作",
                        field: "Operate",
                        align: "center",
                        valign: "middle",
                        events: actionEvents,
                        formatter: operateFormatter
                    }
                ],

                formatLoadingMessage: function () {
                    return "请稍等，正在加载中...";
                },

                formatNoMatches: function () {
                    return "无符合条件的记录";
                },
                
                onClickRow: function (row, tr) {
                    var dis = $('#disp').css("display");
                    if (dis === 'block') {
                        $("#cID").val(row.ID);
                        $("#cnum").val(row.CycleNum);
                        $("#cfee").val(row.Fee);
                        $("#cunit").val(row.CycleUnit);
                    }
                }

            });

            function queryParams(params) {
                //return params;
                return {
                    pageSize: params.pageSize,
                    pageIndex: params.pageNumber,
                    sortOrder: params.sortOrder,
                    sortName: params.sortName
                };
            }

            function operateFormatter(value, row, index) {
                return '<a class="delete" href="javascript:void(0)" title="删除"><i class="glyphicon glyphicon-trash"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' +
                       '<a class="edit" href="javascript:void(0)" title="编辑"><i class="glyphicon glyphicon-th"></i></a>';
            }

            //添加
            $("#btn_add").click(function () {
                $("#htitle").text("添 加");
                $("#btn").text("添 加");
                $("#disp").css("display", "block");

                $("#cID").val("0");
                $("#cnum").val("");
                $("#cfee").val("");
                $("#cunit").val("0");
            });

            //编辑
            $("#btn_edit").click(function () {
                var selected = $table.bootstrapTable('getSelections')[0];
                if (typeof (selected) == 'undefined') {
                    BootstrapDialog.warning("请选择一行数据！");
                }
                else {
                    $("#htitle").text("编 辑");
                    $("#btn").text("修 改");
                    $("#disp").css("display", "block");

                    $("#cID").val(selected.ID);
                    $("#cnum").val(selected.CycleNum);
                    $("#cfee").val(selected.Fee);
                    $("#cunit").val(selected.CycleUnit);
                }

            });

            //确认
            $("#btn").click(function () {
                var $id = $("#cID");
                var curl = "";
                if ($id.val() == '0')
                {
                    //添加
                    curl = "@Url.Action("AddPre")";
                }
                else
                {
                    //修改
                    curl = "@Url.Action("ModifyPre")";
                }
                var para = $("form").serialize();

                $.ajax({
                    type: "GET",
                    url: curl,                   
                    data:para,
                    dataType: "json",
                    cache: false,
                    beforeSend: function (XMLHttpRequest) {
                        $("#btn").text("提交中");
                    },
                    success: function (data) {                       
                            BootstrapDialog.show({
                                title: "温馨提示",
                                message: data.Message
                            });

                            if (data.Code == 1)
                            {
                                $("#disp").css("display", "none");
                                $table.bootstrapTable("refresh");
                            }                           
                    },
                    complete: function (XMLHttpRequest, textStatus) {
                        $("#btn").text("确 认");                       
                    }
                });

            });

        });

        window.actionEvents = {
            'click .delete': function (e, value, row, index) {
                
                BootstrapDialog.confirm("确定要删除该记录？ID为 " + row.ID, function (result) {
                    if (result) {

                        $.ajax({
                            type: "GET",
                            url: "@Url.Action("DeletePre")",
                            data: { "ID": row.ID },
                            dataType: "json",
                            cache: false,
                            beforeSend: function (XMLHttpRequest) {
                            },
                            success: function (data) {
                                BootstrapDialog.show({
                                    title: "温馨提示",
                                    message: data.Message
                                });

                                window.location.href = "/ChargeManager/ChargingRule/PreRule";
                            },
                            complete: function (XMLHttpRequest, textStatus) {
                            }
                        });
                    }
                });
            },
            'click .edit': function (e, value, row, index) {
                $("#htitle").text("编 辑");
                $("#btn").text("修 改");
                $("#disp").css("display", "block");

                $("#cID").val(row.ID);
                $("#cnum").val(row.CycleNum);
                $("#cfee").val(row.Fee);
                $("#cunit").val(row.CycleUnit);
            }
        };

    </script>
    }

