
@{
    ViewBag.Title = "临时类规则";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row">
    <div class="col-md-2">@Html.Partial("_PartialSideNav")</div>
    <div class="col-md-10">
        <ol class="breadcrumb">
            <li><span class="glyphicon glyphicon-home">&nbsp;@Html.ActionLink("首页", "Index", "Home", new { area = "" }, htmlAttributes: new { @class = "" })</span></li>
            <li>计费规则</li>
            <li class="active">临时类规则</li>
        </ol>

        <div>           
           
            <div class="bd" id="outer" style="padding:10px; display:none">
                <input type="hidden" id="mainID" value="0"/>

                <table class="form">
                    <tr>
                        <th class="formTitle">入场付费</th>
                        <td class="formValue">
                            <select id="needpre" class="form-control" onchange="preOnChange(this.value)">
                                <option value="0" selected>请选择</option>
                                <option value="1">不需要</option>
                                <option value="2">需要</option>
                            </select>
                        </td>
                        <th class="formTitle">入场预付费</th>
                        <td class="formValue">
                            <select id="precontent" class="form-control">
                                <option value="0" selected>请选择</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle">计费类型</th>
                        <td class="formValue">
                            <select id="tarifftype" class="form-control" onchange="typeOnChange(this.value)">
                                <option value="0" selected>请选择</option>
                                <option value="1">按时</option>
                                <option value="2">按次</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <br /> 
                             
                <div id="ordercontent" style="display:none">                   
                    <p class="text-danger" style="margin-top:10px">按次计费规则</p>
                    <input type="hidden" id="orderID" value="0" />
                    <table class="form">
                        <tr>
                            <th class="formTitle">免费时长</th>
                            <td class="formValue">
                                <input type="date" id="orderfreetime" class="date form_time form-control" data-date-format="hh:ii"/>
                            </td>
                            <th class="formTitle">计费金额</th>
                            <td class="formValue">
                                <input type="text" id="orderfee" class="form-control">
                            </td>
                        </tr>
                    </table>
                </div>
               
                <div id="cyclepolicy" style="display:none">
                    <input type="hidden" id="cycleID" value="0" />
                    <table class="form">
                        <tr>
                            <th class="formTitle">跨周期策略</th>
                            <td class="formValue">
                                <select id="strideday" class="form-control">
                                    <option value="0" selected>请选择</option>
                                    <option value="1">延续计费</option>
                                    <option value="2">重新计费</option>
                                </select>
                            </td>
                            <th class="formTitle">周期时长</th>
                            <td class="formValue">
                                <select id="cycletime" class="form-control">
                                    <option value="0" selected>请选择</option>
                                    <option value="1">24小时制</option>
                                    <option value="2">12小时制</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">周期最高金额</th>
                            <td class="formValue">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="checkbox" id="chk">
                                    </span>
                                    <input type="text" id="topfee" class="form-control">
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                                
                <div class="text-center" style="margin-top:10px">
                    <input type="button" value="保存设置" class="btn btn-default" id="policysave"/>
                </div>

            </div>
            @* 用来控制时间段的显示，在开始时如果没有找到临时卡记录，则要求先建立主记录 *@
            <div id="hourtime" style="display:none"> 
                <div class="bd" id="hourcontent" style="display:none">
                    <form id="frm">
                        <table class="chg">
                            <tbody>
                                <tr align="left">
                                    <td rowspan="6" align="center" class="control-label spe">
                                        <span id="hourtitle">时段</span>
                                        <br /><br />
                                        <input type="button" value="保 存" id="hoursave" />
                                        <br /><br />
                                        <input type="button" value="隐 藏" id="hourhidden" />

                                        <input type="hidden" id="hourSectionID" value="0"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">时间段</td>
                                    <td colspan="3" class="bdr">
                                        <input type="date" class="date form_time" data-date-format="hh:ii" id="starttime" />&nbsp;-&nbsp;
                                        <input type="date" class="date form_time" data-date-format="hh:ii" id="endtime" />
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">时段最高计费</td>
                                    <td colspan="3" class="bdr">
                                        <input type="text" id="tmtopfee" />
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">有效期内免费</td>
                                    <td class="bdr">
                                        <input type="checkbox" id="tmfreechk"/>
                                    </td>
                                    <td align="right">免费时长(分)</td>
                                    <td class="bdr">
                                        <div class="input-group">
                                            <input type="date" class="date form_time" data-date-format="hh:ii" id="tmfree" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">首段计费时长</td>
                                    <td class="bdr">
                                        <input type="date" class="date form_time" data-date-format="hh:ii" id="tmfirt" />
                                    </td>
                                    <td align="right">首段计费金额</td>
                                    <td class="bdr">
                                        <input type="text" id="tmfirstfee" />
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">间隔计费时长</td>
                                    <td class="bdr">
                                        <input type="date" class="date form_time" data-date-format="hh:ii" id="tminterval" />
                                    </td>
                                    <td align="right">间隔计费金额</td>
                                    <td class="bdr">
                                        <input type="text" id="intervalfee" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>

                <div>
                    <div id="toolbar" class="btn-group pull-right" role="group">
                        <button id="btn_add" class="btn btn-default"><span></span>新增时段</button>
                        <button id="btn_edit" class="btn btn-default"><span></span>编辑时段</button>
                    </div>
                    <table id="tGrid"></table>
                </div>

            </div>
        </div>

    </div>
</div>

@section scripts{
    @Styles.Render("~/Content/defform")
    @Styles.Render("~/Content/charge")
    @Styles.Render("~/Content/bootstraptable")
    @Scripts.Render("~/bundles/bootstraptable")
    <script>

        $(function () {

            $('.form_time').datetimepicker({
                language: 'zh-CN',
                weekStart: 1,
                todayBtn: 0,
                autoclose: 1,
                todayHighlight: 0,
                startView: 1,
                minView: 0,
                maxView: 1,
                forceParse: 0
            });
            
            $("#tarifftype").val("0");

            setTimeout(function () {

                $("#outer").css("display", "block");
                //查询有没有临时卡记录，有的话是按时的还是按次的，分别显示出来
                //如果都没有，都不显示，待保存设置，生成主记录时才显示相关项               
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetTempRule")",                   
                    dataType: "json",
                    cache: false,
                    beforeSend: function (XMLHttpRequest) {

                    },
                    success: function (resp) {

                        if (resp.Code == 1)
                        {
                            var obj = resp.Data;
                            $("#mainID").val(obj.ID);

                            var prechg = obj.PreChgID;
                            $("#precontent").val(prechg);

                            var $needpre = $("#needpre");                           
                            if (prechg == '0') {
                                $needpre.val("1");
                            }
                           
                            var ttype = obj.TempChgType;
                            $("#tarifftype").val(ttype);
                           
                            //按次
                            if (ttype == 2)
                            {
                                $("#ordercontent").css("display", "block");
                               
                                $.getJSON("@Url.Action("FindOrderDetail")", { "tempID": obj.ID }, function (data) {

                                    $("#orderfreetime").val(data.OrderFreeTime);
                                    $("#orderfee").val(data.Fee);

                                    $("#orderID").val(data.ID);
                                });

                            }
                            else if (ttype == 1) //按时
                            {
                                $("#cyclepolicy").css("display", "block");
                                $("#hourtime").css("display", "block");

                                //获取计费策略
                                $.getJSON("@Url.Action("FindHourDetail")", { "tempID": obj.ID }, function (jsondata) {
                                    $("#topfee").val(jsondata.CycleTopFee);
                                    if (jsondata.CycleTopFee > 0)
                                    {
                                        $("#chk").attr("checked",true);
                                    }

                                    var ctime = jsondata.CycleTime;
                                    $("#cycletime").val(ctime);
                                    
                                    var stride = jsondata.StrideDay;
                                    $("#strideday").val(stride);
                                    
                                    $("#cycleID").val(jsondata.ID);
                                });
                            }
                        }
                    },
                    complete: function (XMLHttpRequest, textStatus) {
                       
                    }
                });
             

            }, 500);

            var $table = $("#tGrid");
            $table.bootstrapTable({
                toolbar: "#toolbar",
                toolbarAlign: "right",
                buttonsAligh: "right",
                showRefresh: true,
                showToggle: true,
                showFooter: false,
                pagination: true,
                striped: true,              //是否显示行间隔色
                sidePagination: "server",
                clickToSelect: true,
                singleSelect: true,
                pageNumber: 1,              //初始化加载第一页，默认第一页
                pageSize: 10,                 //每页的记录数
                pageList: "[5,10,20,50]",
                method: "post",
                url: "@Url.Action("FindHourSectionList")",
                queryParams: queryParams,         //前端调用服务时，会默认传递上边提到的参数
                queryParamsType: "",              
                dataType: "json",
                columns: [
                    {
                        title: "选中",
                        checkbox: true,
                        align: "center",
                        valign: "middle"
                    },
                    {
                        title: "ID",
                        field: "ID",
                        visible: true,
                        align: "center",
                        valign: "middle",
                        visible: false,
                        sortable: true
                    },
                    {
                        title: "起始时间",
                        field: "StartTime",
                        align: "left",
                        valign: "middle",
                        formatter:dtimeformatter
                    },
                    {
                        title: "终止时间",
                        field: "EndTime",
                        align: "left",
                        valign: "middle",
                        formatter: dtimeformatter
                    },
                    {
                        title: "最高计费",
                        field: "SectionTopFee",
                        align: "center",
                        valign: "middle"
                    },
                    {
                        title: "免费时长",
                        field: "SectionFreeTime",
                        align: "left",
                        valign: "middle"
                    },
                    {
                        title: "首段时长",
                        field: "FirstVoidTime",
                        align: "left",
                        valign: "middle"
                    },
                    {
                        title: "首段金额",
                        field: "FirstVoidFee",
                        align: "center",
                        valign: "middle"
                    },
                    {
                        title: "间隔时长",
                        field: "IntervalVoidTime",
                        align: "left",
                        valign: "middle"
                    },
                    {
                        title: "间隔金额",
                        field: "IntervalVoidFee",
                        align: "center",
                        valign: "middle"
                    },
                    {
                        title: "操作",
                        field: "Operate",
                        align: "center",
                        valign: "middle",
                        events: actionEvents,
                        formatter: operateFormatter
                    }
                ],

                formatLoadingMessage: function () {
                    return "请稍等，正在加载中...";
                },

                formatNoMatches: function () {
                    return "无符合条件的记录";
                },

                onClickRow: function (selected, tr) {

                    var disp = $("#hourcontent").css("display");
                    if (disp == 'block') {
                        $("#hourtitle").text("修改时段");
                        $("#hourSectionID").val(selected.ID);
                        $("#starttime").val(dtimeformatter(selected.StartTime));
                        $("#endtime").val(dtimeformatter(selected.EndTime));                      
                        $("#tmfreechk").attr("checked", true);
                        $("#tmfree").val(selected.SectionFreeTime);
                        $("#tmtopfee").val(selected.SectionTopFee);
                        $("#tmfirt").val(selected.FirstVoidTime);
                        $("#tmfirstfee").val(selected.FirstVoidFee);
                        $("#tminterval").val(selected.IntervalVoidTime);
                        $("#intervalfee").val(selected.IntervalVoidFee);
                    }
                }

            });

            function queryParams(params) {
                return params;
            }

            function operateFormatter(value, row, index) {
                return '<a class="delete" href="javascript:void(0)" title="删除"><i class="glyphicon glyphicon-trash"></i></a>';
            }

            //格式化时间
            function dtimeformatter(value) {
                var newdate = formatDate(value);
                var arraydate = newdate.split(" ");
                if (arraydate.length > 0) {
                    //获取时间
                    var dtime = arraydate[1];
                    var arraytime = dtime.split(":");
                    if (arraytime.length > 1)
                    {
                        return arraytime[0] + ":" + arraytime[1];
                    }
                }
                return newdate;
            }            

            //新增时间段
            $("#btn_add").click(function ()
            {
                var $content = $("#hourcontent");
                $content.css("display", "block");

                $("#hourSectionID").val("0");
                $("#starttime").val("");
                $("#endtime").val("");
                $("#tmfree").val("");
                $("#tmtopfee").val("");

                $("#hourtitle").text("新增时段");
            });

            //辑辑
            $("#btn_edit").click(function ()
            {
                var $content = $("#hourcontent");
                $content.css("display", "none");

                var selected = $table.bootstrapTable('getSelections')[0];
                if (typeof (selected) == 'undefined')
                {
                    BootstrapDialog.warning("请选择一行数据！");
                }
                else
                {                   
                    $content.css("display", "block");

                    $("#hourtitle").text("修改时段");

                    $("#hourSectionID").val(selected.ID);
                    $("#starttime").val(dtimeformatter(selected.StartTime));
                    $("#endtime").val(dtimeformatter(selected.EndTime));
                    $("#tmfreechk").attr("checked", true);
                    $("#tmfree").val(selected.SectionFreeTime);
                    $("#tmtopfee").val(selected.SectionTopFee);
                    $("#tmfirt").val(selected.FirstVoidTime);
                    $("#tmfirstfee").val(selected.FirstVoidFee);
                    $("#tminterval").val(selected.IntervalVoidTime);
                    $("#intervalfee").val(selected.IntervalVoidFee);
                }
            });

            //隐藏
            $("#hourhidden").click(function () {
                $("#hourcontent").css("display","none");
            });

            //时间段新增或修改
            $("#hoursave").click(function () {

                var hourID = $("#cycleID").val();
                if (hourID == 0) {
                    BootstrapDialog.warning("请先保存周期计费策略，再添加时间段！");
                    return;
                }

                var start = $("#starttime").val();
                var end = $("#endtime").val();
                if (start.length == 0 || end.length == 0) {
                    BootstrapDialog.warning("时间段不允许为空！");
                    return;
                }

                var hourtopfee = $("#tmtopfee").val();
                if (hourtopfee.length == 0) {
                    BootstrapDialog.warning("时段最高计费不允许为空！");
                    return;
                }

                var hourfirsttime = $("#tmfirt").val();
                if (hourfirsttime.length == 0) {
                    BootstrapDialog.warning("首段时长不允许为空！");
                    return;
                }

                var hourfirstfee = $("#tmfirstfee").val();
                if (hourfirstfee.length == 0) {
                    BootstrapDialog.warning("首段计费金额不允许为空！");
                    return;
                }

                var hourintvtime = $("#tminterval").val();
                if (hourintvtime.length == 0) {
                    BootstrapDialog.warning("间隔计费时长不允许为空！");
                    return;
                }

                var hourintvfee = $("#intervalfee").val();
                if (hourintvfee.length == 0) {
                    BootstrapDialog.warning("间隔计费金额不允许为空！");
                    return;
                }

                if ($("#tmfreechk").is(':checked') == false) {
                    $("#tmfree").val("00:00");
                }

                var hoursection = $("#hourSectionID").val();
                if (hoursection == 0) //新增
                {
                    console.log("新增时间段");
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("AddHourSectionRule")",
                        data: { "HourChgID": $("#cycleID").val(), "StartTime": start, "EndTime": end, "SectionTopFee": hourtopfee, "SectionFreeTime": $("#tmfree").val(), "FirstVoidTime": hourfirsttime, "FirstVoidFee": hourfirstfee, "IntervalVoidTime": hourintvtime, "IntervalVoidFee": hourintvfee },
                        dataType: "json",
                        cache: false,
                        beforeSend: function (XMLHttpRequest) {
                            $("#hoursave").text("添加中");
                        },
                        success: function (data) {
                            BootstrapDialog.show({
                                title: "温馨提示",
                                message: data.Message
                            });

                            if (data.Code == 1)
                            {
                                $("#hourcontent").css("display", "none");
                                $table.bootstrapTable("refresh");
                            }

                        },
                        complete: function (XMLHttpRequest, textStatus) {
                            $("#hoursave").text("保 存");
                        }
                    });

                }
                else //修改
                {
                    console.log("修改时间段，ID-" + hoursection);
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("ModifyHourSectionRule")",
                        data: { "HourID": hoursection, "StartTime": start, "EndTime": end, "SectionTopFee": hourtopfee, "SectionFreeTime": $("#tmfree").val(), "FirstVoidTime": hourfirsttime, "FirstVoidFee": hourfirstfee, "IntervalVoidTime": hourintvtime, "IntervalVoidFee": hourintvfee },
                        dataType: "json",
                        cache: false,
                        beforeSend: function (XMLHttpRequest) {
                            $("#hoursave").text("提交中");
                        },
                        success: function (data) {
                            BootstrapDialog.show({
                                title: "温馨提示",
                                message: data.Message
                            });

                            if (data.Code == 1) {
                                $("#hourcontent").css("display", "none");
                                $table.bootstrapTable("refresh");
                            }

                        },
                        complete: function (XMLHttpRequest, textStatus) {
                            $("#hoursave").text("保 存");
                        }
                    });

                }

            });


            //周期策略保存(新增、修改)
            $("#policysave").click(function () {

                var preneed = $("#needpre option:selected").val();
                var precontent = $("#precontent option:selected").val();

                if (preneed == 2)
                {
                    if (precontent == 0) {
                        BootstrapDialog.warning("请选择预付项！");
                        return;
                    }
                }
                var ttype = $("#tarifftype option:selected").val();
                if (ttype == 0)
                {
                    BootstrapDialog.warning("请选择计费类型！");
                    return;
                }
                //按时 条件判断
                var strided = $("#strideday option:selected").val();
                var cyclet = $("#cycletime option:selected").val();
                if (ttype == 1)
                {
                    if (strided == 0) {
                        BootstrapDialog.warning("请选择跨周期策略！");
                        return;
                    }
                    if (cyclet == 0) {
                        BootstrapDialog.warning("请选择周期时长！");
                        return;
                    }
                }
                //按次
                var $orderfreetime = $("#orderfreetime");
                var $orderfee = $("#orderfee");
                if (ttype == 2)
                {                   
                    if ($orderfreetime.val() == "")
                    {                        
                        $orderfreetime.val("00:00");
                    }
                    if ($orderfee.val() == "")
                    {
                        $orderfee.val("0");
                    }
                }
               
                var mID = $("#mainID").val();
               
                if (mID == 0)  //新增
                {
                  
                    if (ttype == 2) {
                        //按次 添加
                        $.ajax({
                            type: "POST",
                            url: "@Url.Action("AddTempRuleByOrder")",
                            data: { "PreID": precontent, "TType": ttype, "FreeTime": $orderfreetime.val(),"OrderFee":$orderfee.val()},
                            dataType: "json",
                            cache: false,
                            beforeSend: function (XMLHttpRequest) {
                                $("#policysave").text("提交中");
                            },
                            success: function (resp) {
                                BootstrapDialog.warning(resp.Message);

                                if(resp.Code==1)
                                {
                                    var exp = resp.Data;
                                    if (!exp&&typeof(exp)!="undefined")
                                    {
                                        alert("Is Null");
                                    }
                                    else
                                    {
                                        $("#mainID").val(exp.mainID);
                                        $("#orderID").val(exp.orderID);
                                    }
                                }
                            },
                            complete: function (XMLHttpRequest, textStatus) {
                                $("#policysave").text("保存设置");
                            }
                        });

                    }

                    //新增 按时 添加周期计费规则
                    if (ttype == 1)
                    {

                        $.ajax({
                            type: "POST",
                            url: "@Url.Action("AddTempRuleByHour")",
                            data: { "PreID": precontent, "TType": ttype, "StrideDay": strided, "CycleTime": cyclet, "StrideTopFee": $("#topfee").val() },
                            dataType: "json",
                            cache: false,
                            beforeSend: function (XMLHttpRequest) {
                                $("#policysave").text("提交中");
                            },
                            success: function (resp) {
                                BootstrapDialog.warning(resp.Message);

                                if (resp.Code == 1) {
                                    var exp = resp.Data;
                                    if (!exp && typeof (exp) != "undefined") {
                                        alert("Is Null");
                                    }
                                    else {
                                        $("#mainID").val(exp.mainID);
                                        $("#cycleID").val(exp.hourID);
                                    }
                                }
                            },
                            complete: function (XMLHttpRequest, textStatus) {
                                $("#policysave").text("保存设置");
                            }
                        });

                    }

                }
                else  //修改
                {
                    console.log("MainID: "+mID + "  ,OrderID: " + $("#orderID").val() + "  ,HourID: " + $("#cycleID").val());
                    //按次
                    if (ttype == 2) {
                        var orderID = $("#orderID").val();
                       
                        $.ajax({
                            type: "POST",
                            url: "@Url.Action("ModifyTempRuleOfOrder")",
                            data: { "MID": mID, "PreID": precontent, "TType": ttype, "OrderID": orderID, "FreeTime": $orderfreetime.val(), "OrderFee": $orderfee.val() },
                            dataType: "json",
                            cache: false,
                            beforeSend: function (XMLHttpRequest) {
                                $("#policysave").text("修改中");
                            },
                            success: function (resp) {
                                BootstrapDialog.warning(resp.Message);

                            },
                            complete: function (XMLHttpRequest, textStatus) {
                                $("#policysave").text("保存设置");
                            }
                        });


                    }

                    //按时
                    if (ttype == 1)
                    {
                        var hourID = $("#cycleID").val();

                        $.ajax({
                            type: "POST",
                            url: "@Url.Action("ModifyTempRuleOfHour")",
                            data: { "MID": mID, "PreID": precontent, "TType": ttype, "HourID": hourID, "StrideDay": strided, "CycleTime": cyclet, "StrideTopFee": $("#topfee").val() },
                            dataType: "json",
                            cache: false,
                            beforeSend: function (XMLHttpRequest) {
                                $("#policysave").text("修改中");
                            },
                            success: function (resp) {
                                BootstrapDialog.warning(resp.Message);
                            },
                            complete: function (XMLHttpRequest, textStatus) {
                                $("#policysave").text("保存设置");
                            }
                        });

                    }

                }

            });           
         

            //Date(1391141532000)的字符串转换成javascript中的日期对象
            function formatDate(dt) {
                var milliseconds = parseInt(dt.replace(/\D/igm, ""));
                var newdate = new Date(milliseconds).Format("yyyy-MM-dd hh:mm:ss");
                return newdate.toLocaleString();
            }

            Date.prototype.Format = function (fmt) { //author: meizz 
                var o = {
                    "M+": this.getMonth() + 1, //月份 
                    "d+": this.getDate(), //日 
                    "h+": this.getHours(), //小时 
                    "m+": this.getMinutes(), //分 
                    "s+": this.getSeconds(), //秒 
                    "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
                    "S": this.getMilliseconds() //毫秒 
                };
                if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
                for (var k in o)
                    if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
                return fmt;
            }


        });

        //计费类型事件改变
        function typeOnChange(val) {
            
            var mID = $("#mainID").val();
            
            if (val == 1) //按时
            {
                $("#ordercontent").css("display", "none");

                $("#cyclepolicy").css("display", "block");
                $("#hourtime").css("display", "block");

                if (mID != 0)
                {
                    //获取计费策略
                    $.getJSON("@Url.Action("FindHourDetail")", { "tempID": mID }, function (jsondata) {

                        $("#topfee").val(jsondata.CycleTopFee);

                        if (jsondata.CycleTopFee > 0)
                        {
                            $("#chk").attr("checked",true);
                        }

                        var ctime = jsondata.CycleTime;
                        $("#cycletime").val(ctime);
                                    
                        var stride = jsondata.StrideDay;
                        $("#strideday").val(stride);
                                    
                        $("#cycleID").val(jsondata.ID);
                    });

                }
                
            }
            else if (val == 2)  //按次
            {
                $("#ordercontent").css("display", "block");

                $("#cyclepolicy").css("display", "none");
                $("#hourtime").css("display", "none");

                if (mID != 0)
                {
                    $.getJSON("@Url.Action("FindOrderDetail")", { "tempID": obj.ID }, function (data) {

                        $("#orderfreetime").val(data.OrderFreeTime);
                        $("#orderfee").val(data.Fee);

                        $("#orderID").val(data.ID);
                    });
                }

            }
            else
            {
                $("#ordercontent").css("display", "none");
                $("#cyclepolicy").css("display", "none");
                $("#hourtime").css("display", "none");
            }

        }

        //预付类
        function preOnChange(val) {

            var $goods = $("#precontent");
            var html = '<option value="0">请选择</option>';

            if (val == 2) {

                $.ajax({
                    type: "GET",
                    url: "@Url.Action("PreSelectNameList")",
                    dataType: "json",
                    cache: false,
                    beforeSend: function (XMLHttpRequest) {
                        html = '<option value="0">加载中</option>';
                        $goods.empty();
                        $goods.append(html);
                    },
                    success: function (data) {
                        html = '<option value="0">请选择</option>';
                        $.each(data, function (index, obj) {
                            html += '<option value="' + obj.OptionValue + '">' + obj.OptionText + '</option>';
                        });
                        $goods.empty();
                        $goods.append(html);

                    }
                });

            }
            else
            {
                $goods.empty();
                $goods.append(html);
            }
        }

        window.actionEvents = {
            'click .delete': function (e, value, row, index) {

                BootstrapDialog.confirm("确定要删除该记录？ID为 " + row.ID, function (result) {
                    if (result) {

                        $.ajax({
                            type: "POST",
                            url: "@Url.Action("DeleteHourSection")",
                            data: { "hourID": row.ID },
                            dataType: "json",
                            cache: false,
                            success: function (data) {
                                BootstrapDialog.show({
                                    title: "温馨提示",
                                    message: data.Message
                                });

                                window.location.href = "/ChargeManager/ChargingRule/TempRule";
                            }
                        });

                    }
                });
            }
        };

    </script>

    }