@model Parking.Data.Device

@{
    ViewBag.Title = "设备信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="row">
    <div class="col-md-2">@Html.Partial("_PartialSideNav")</div>
    <div class="col-md-10">
        <ol class="breadcrumb">
            <li><span class="glyphicon glyphicon-home">&nbsp;@Html.ActionLink("首页", "Index", "Home", new { area = "" }, htmlAttributes: new { @class = "" })</span></li>            
            <li><a href="@Url.Action("Index", "MSConfig",new { area="SystemManager"})">系统配置</a></li>
            <li>设备详情</li>
        </ol>
        <hr />
        <div style="margin:10px 20px 20px 20px">
            <form id="form1">
                <table class="form">
                    <tr>
                        <th class="formTitle">库区</th>
                        <td class="formValue">
                            <input id="wh" name="wh" type="text" class="form-control" placeholder="@Model.Warehouse" />
                        </td>
                        <th class="formTitle">设备号</th>
                        <td class="formValue">
                            <input id="code" name="code" type="text" class="form-control" placeholder="@Model.DeviceCode" />
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle">设备类型</th>
                        <td class="formValue">
                            <input id="type" name="type" type="text" class="form-control" placeholder="@Model.Type" />
                        </td>
                        <th class="formTitle">车厅类型</th>
                        <td class="formValue">
                            <input id="halltype" name="halltype" type="text" class="form-control" placeholder="@Model.HallType" />
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle">设备地址</th>
                        <td class="formValue">
                            <input id="address" name="address" type="text" class="form-control" placeholder="@Model.Address" />
                        </td>
                        <th class="formTitle">模式</th>
                        <td class="formValue">
                            <input id="mode" name="mode" type="text" class="form-control" placeholder="@Model.Mode" />
                        </td>
                       
                    </tr>
                    <tr>
                        <th class="formTitle">层</th>
                        <td class="formValue">
                            <input id="layer" name="layer" type="text" class="form-control" placeholder="@Model.Layer" />
                        </td>
                        <th class="formTitle">区域</th>
                        <td class="formValue">
                            <input id="region" name="region" type="text" class="form-control" placeholder="@Model.Region" />
                        </td>                        
                    </tr>
                    <tr>
                        <th class="formTitle">是否可用</th>
                        <td class="formValue">
                            <input id="isable" name="isable" type="text" class="form-control" placeholder="@Model.IsAble" />
                        </td>
                        <th class="formTitle">接收新指令</th>
                        <td class="formValue">
                            <input id="isavailable" name="isavailable" type="text" class="form-control" placeholder="@Model.IsAvailabe" />
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle">自动步</th>
                        <td class="formValue">
                            <input id="runstep" name="runstep" type="text" class="form-control" placeholder="@Model.RunStep" />
                        </td>
                        <th class="formTitle" id="dispin">装载步进</th>
                        <td class="formValue">
                            <input id="instep" name="instep" type="text" class="form-control" placeholder="@Model.InStep" />
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle" id="dispout">卸载步进</th>
                        <td class="formValue">
                            <input id="outstep" name="outstep" type="text" class="form-control" placeholder="@Model.OutStep" />
                        </td>
                        <th class="formTitle">作业ID</th>
                        <td class="formValue">
                            <input id="taskid" name="taskid" type="text" class="form-control" placeholder="@Model.TaskID" />
                        </td>
                    </tr>
                </table>
            </form>
        </div> 
        <br />
        <div>
            @Html.ActionLink("编辑设备参数", "Edit", "MSConfig", new { ID = Model.ID },htmlAttributes:new { @class=""})
        </div>      
    </div>
</div>

@section scripts{
    @Styles.Render("~/Content/defform")
    <script>
        $(function () {


        });
        </script>
    }


