@model Parking.Web.Areas.CustomManager.Models.CustomerModel

@{
    ViewBag.Title = "添加车主";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    img{
        width:80px;
        height:100px;
        border:1px dashed #808080;
        margin-right:10px
    }
</style>

<br />
<div class="row">
    <div class="col-md-2">@Html.Partial("_PartialSideNav")</div>
    <div class="col-md-10">
        <div class="row">
            <ol class="breadcrumb">
                <li><span class="glyphicon glyphicon-home">&nbsp;@Html.ActionLink("首页", "Index", "Home", new { area = "" }, htmlAttributes: new { @class = "" })</span></li>
                <li>顾客管理</li>
                <li>车主管理</li>
                <li class="active">添加车主</li>
            </ol>
        </div>
        <div class="row">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.UserCode, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UserCode, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserCode, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EnumDropDownListFor(model => model.Type, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <fieldset style="display:none">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Warehouse, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Warehouse, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Warehouse, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.LocAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.LocAddress, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LocAddress, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MobilePhone, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.MobilePhone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MobilePhone, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PlateNum, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.PlateNum, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PlateNum, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.FamilyAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.FamilyAddress, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FamilyAddress, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">指纹信息</label>
                        <div class="col-md-10">
                            <a href="javascript:void(0)"><img src="~/Image/add.jpg" alt="finger1" title="0" class="print" id="FingerPrint1"/></a>
                            <a href="javascript:void(0)"><img src="~/Image/add.jpg" alt="finger2" title="0" class="print" id="FingerPrint1"/></a>
                            <a href="javascript:void(0)"><img src="~/Image/add.jpg" alt="finger3" title="0" class="print" id="FingerPrint1"/></a>
                            @Html.HiddenFor(model => model.FingerPrint1)
                            @Html.HiddenFor(model => model.FingerPrint2)
                            @Html.HiddenFor(model => model.FingerPrint3)
                        </div>
                    </div>                    

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-4">
                            <input type="submit" value="添 加" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            
            if ($("#Type").val() > 2) {
                $("fieldset").css("display", "block");
            }

            $("#Type").focus(function () {               
                $("fieldset").css("display", "none");
            });

            $("#Type").blur(function () {
                if ($(this).val() > 2) {
                    $("fieldset").css("display", "block");
                } else {
                    $("#Warehouse").val("");
                    $("#LocAddress").val("");
                }
            });

            $("img.print").click(function () {

                var ig = $(this);
                var title = ig.attr("title");
                //添加
                if (title == 0) {
                   
                    $(this).attr("title", "-1");

                    $.ajax({
                        type: "GET",
                        url: "@Url.Action("AddFingerPrint")",
                        timeout:10000,
                        dataType: "json",
                        cache: false,
                        beforeSend: function (XMLHttpRequest) {
                            ig.attr("src", "/Image/scan.gif");
                        },
                        success: function (resp) {
                            
                            BootstrapDialog.show({
                                title: "温馨提示",
                                message: resp.Message
                            });

                            if (resp.Code == 1)
                            {
                                ig.attr("src", "/Image/fingerprint.jpg");
                                ig.attr("title", resp.Data);

                                var idd = ig.attr("id");
                                //写
                                $("input[name='" + idd + "']").val(resp.Data);
                            }
                            else
                            {
                                ig.attr("title", "0");
                                ig.attr("src", "/Image/add.jpg");
                            }

                        },
                        complete: function (XMLHttpRequest, textStatus) {

                            if (textStatus == 'timeout')
                            {
                                $(this).attr("title", "0");
                                ig.attr("src", "/Image/add.jpg");
                            }
                        }
                    });

                }               
                else if (title == -1)
                {
                    BootstrapDialog.show({
                        title: "温馨提示",
                        message: "等待扫描指纹中"
                    });
                }
                else
                {
                    BootstrapDialog.confirm("<b>确定要删除当前指纹模板？SN - </b>"+title, function (result) {
                        if (result) {

                            $.ajax({
                                type: "GET",
                                url: "@Url.Action("DeleteFingerPrint")",
                                data: { "sn": title },
                                dataType: "json",
                                cache: false,
                                success: function (resp) {
                                    BootstrapDialog.show({
                                        title: "温馨提示",
                                        message: resp.Data
                                    });
                                    if (resp.Code == 1)
                                    {
                                        ig.attr("title", "0");
                                        ig.attr("src", "/Image/add.jpg");
                                    }
                                }
                            });


                        }
                    });
                }

            });



        });
      

    </script>
    }
