@model Parking.Web.Areas.CustomManager.Models.CustomerModel

@{
    ViewBag.Title = "修改信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    img {
        width: 80px;
        height: 100px;
        border: 1px dashed #808080;
        margin-right: 10px;
    }
</style>

<br />
<div class="row">
    <div class="col-md-2">@Html.Partial("_PartialSideNav")</div>
    <div class="col-md-10">
        <div class="row">
            <ol class="breadcrumb">
                <li><span class="glyphicon glyphicon-home">&nbsp;@Html.ActionLink("首页", "Index", "Home", new { area = "" }, htmlAttributes: new { @class = "" })</span></li>
                <li>顾客管理</li>
                <li>@Html.ActionLink("车主管理","Index", "CustomerManager")</li>
                <li class="active">修改信息</li>
            </ol>
        </div>
        <div class="row">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)

                    <div class="form-group">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PlateNum, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.PlateNum, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PlateNum, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EnumDropDownListFor(model => model.Type,  new { @class = "form-control" })                            
                            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <fieldset class="fix">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Warehouse, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Warehouse, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Warehouse, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.LocAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.LocAddress, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LocAddress, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Deadline, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Deadline, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MobilePhone, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.MobilePhone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MobilePhone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                   
                    <div class="form-group">
                        @Html.LabelFor(model => model.FamilyAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.FamilyAddress, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FamilyAddress, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <fieldset>
                        <div class="form-group">
                            @Html.LabelFor(model => model.UserCode, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.UserCode, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UserCode, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">指纹信息</label>
                            <div class="col-md-10">
                                <a href="javascript:void(0)"><img src="~/Image/add.jpg" alt="finger1" title="0" class="print" id="FingerPrint1" /></a>
                                <a href="javascript:void(0)"><img src="~/Image/add.jpg" alt="finger2" title="0" class="print" id="FingerPrint2" /></a>
                                <a href="javascript:void(0)"><img src="~/Image/add.jpg" alt="finger3" title="0" class="print" id="FingerPrint3" /></a>
                                @Html.HiddenFor(model => model.FingerPrint1)
                                @Html.HiddenFor(model => model.FingerPrint2)
                                @Html.HiddenFor(model => model.FingerPrint3)
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="保 存" class="btn btn-default" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="button" id="btnDelete" class="btn btn-default">删 除</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="button" id="btnModify" class="btn btn-default">修改期限</button>
                        </div>                       
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div style="display:none">
    <object classid="clsid:5F709CBC-669E-466B-91A3-66A626E987EA" width="152" height="200" id="dtm" codebase="Fp30Dev_WL.ocx" hidden></object>
</div>

@section scripts{

    <script>
        $(function () {

            setTimeout(function () {

                var f1 = $("input[id='FingerPrint1']").val();
                if (f1 > 1000)
                {
                    $("img[id='FingerPrint1']").attr({ "src": "/Image/fingerprint.jpg", "title": f1 });
                }

                var f2 = $("input[id='FingerPrint2']").val();
                if (f2 > 1000) {
                    $("img[id='FingerPrint2']").attr({ "src": "/Image/fingerprint.jpg", "title": f2 });
                }

                var f3 = $("input[id='FingerPrint3']").val();
                if (f3 > 1000) {
                    $("img[id='FingerPrint3']").attr({ "src": "/Image/fingerprint.jpg", "title": f3 });
                }

                //绑定OCX所在目录
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetOCXIPAddress")",
                    dataType: "text",
                    cache: false,
                    success: function (resp) {                        
                        if (resp != "") {
                            $("object[id='dtm']").attr("codebase", resp + "Fp30Dev_WL.ocx");
                            console.log($("object[id='dtm']").attr("codebase"));                           
                        }
                    }
                });

            }, 500);


            $("#btnDelete").click(function () {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("Delete")",
                    data: { ID: sID },
                    dataType: "json",
                    cache: false,
                    beforeSend: function (XMLHttpRequest) {
                        $("#btnDelete").text("删除中");
                    },
                    success: function (data) {
                        if (data.code == 1) {
                            BootstrapDialog.show({
                                title: "温馨提示",
                                message: data.message
                            });
                        }
                        else {
                            window.location.href = "/CustomManager/CustomerManager/Index";
                        }
                    },
                    complete: function (XMLHttpRequest, textStatus) {
                        $("#btnDelete").text("删除");
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {

                    }
                });

            });

            $("img.print").click(function () {
               
                if (window.ActiveXObject || "ActiveXObject" in window) {
                    console.log("is ie");
                }
                else {
                    BootstrapDialog.show({
                        title: "温馨提示",
                        message: "请使用IE浏览器进行操作！"
                    });
                    return;
                }

                var ig = $(this);
                var title = ig.attr("title");
                if (title < 1000) {
                    //添加
                    if (title == 0) {

                        var iRet = -1;
                        try
                        {
                            iRet = dtm.FConnect();
                        }
                        catch (err)
                        {
                            BootstrapDialog.show({
                                title: "温馨提示",
                                message: "请先注册指纹仪OCX控件！"
                            });
                            return;
                        }
                        //var iRet = dtm.FConnect();
                        if (iRet != 0) {
                            BootstrapDialog.show({
                                title: "温馨提示",
                                message: "连接指纹仪失败"
                            });
                            return;
                        }
                        ig.attr({ "title": -1, "src": "/Image/scan.gif" });
                        iRet = dtm.FGetTemplate(60000);
                        if (iRet != 0) {
                            ig.attr({ "title": 0, "src": "/Image/add.jpg" });
                            if (iRet == -100) {
                                BootstrapDialog.show({
                                    title: "温馨提示",
                                    message: "用户取消!"
                                });                            
                            }
                            else {
                                BootstrapDialog.show({
                                    title: "温馨提示",
                                    message: "采集指纹模板失败!"
                                });                           
                            }
                            return;
                        }
                        //读取特性值
                        var strMB = dtm.FGetFingerInfo();
                        $.ajax({
                            type: "POST",
                            url: "@Url.Action("SubmitFPrint")",
                            data: { "custID": $("#ID").val(), "strMBBuf": strMB },
                            dataType: "json",
                            cache: false,
                            success: function (resp) {
                                BootstrapDialog.show({
                                    title: "温馨提示",
                                    message: resp.Message
                                });

                                if (resp.Code == 1) {
                                    ig.attr({ "title": resp.Data, "src": "/Image/fingerprint.jpg" });
                                    //写
                                    var idd = ig.attr("id");
                                    $("input[name='" + idd + "']").val(resp.Data);
                                }
                                else {
                                    ig.attr({ "title": 0, "src": "/Image/add.jpg" });
                                }
                            },
                            complete: function (XMLHttpRequest, textStatus) {
                                if (textStatus == 'timeout') {
                                    console.log("timeout");
                                    ig.attr({ "title": 0, "src": "/Image/add.jpg" });
                                }
                            }
                        });

                    }
                    else if (title == -1) {
                        BootstrapDialog.show({
                            title: "温馨提示",
                            message: "等待扫描指纹中"
                        });
                    }
                }
                else {
                    BootstrapDialog.confirm("<b>确定要删除当前指纹模板？SN - </b>" + title, function (result) {
                        if (result) {

                            $.ajax({
                                type: "GET",
                                url: "@Url.Action("DeleteFingerPrint")",
                                data: { "sn": title },
                                dataType: "json",
                                cache: false,
                                success: function (resp) {
                                    BootstrapDialog.show({
                                        title: "温馨提示",
                                        message: resp.Message
                                    });
                                    if (resp.Code == 1) {
                                        ig.attr({ "title": 0, "src": "/Image/add.jpg" });
                                    }
                                }
                            });
                        }
                    });
                }

            });

            //修改期限
            $("#btnModify").click(function () {
                var id = $("#ID").val();                
                BootstrapDialog.confirm("确认要修改（ ID- " + id + " ）使用期限？", function (result) {
                    window.location.href = "/CustomManager/CustomerManager/ChangeDeadline?custID=" + id;
                });                
            });

        });
    </script>
    }
          

