
@{
    ViewBag.Title = "车主管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row">
    <div class="col-md-2">@Html.Partial("_PartialSideNav")</div>
    <div class="col-md-10">
        <ol class="breadcrumb">
            <li><span class="glyphicon glyphicon-home">&nbsp;@Html.ActionLink("首页", "Index", "Home", new { area = "" }, htmlAttributes: new { @class = "" })</span></li>
            <li>顾客管理</li>
            <li class="active">车主管理</li>
        </ol>

        <div class="panel panel-default">
            <div class="panel-heading">
                车主查询
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label" for="goods" style="text-align:right;margin-top:4px">查询条件</label>
                    <div class="col-md-2">
                        <select id="goods" name="goods" class="selectpicker show-tick form-control">
                            <option value="0">请选择</option>
                        </select>
                    </div>
                    <label class="col-md-2 control-label" for="content" style="text-align:right;margin-top:4px">查询数据</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="content" id="content" placeholder="输入查询内容" />
                    </div>
                    <div class="col-md-2 col-md-offset-1">
                        <button class="btn btn-primary" id="search">查询</button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div id="toolbar" class="btn-group pull-right" role="group">
                    <a class="btn btn-default" role="button" href="@Url.Action("Add","CustomerManager")">添 加</a>
                    <button id="btnModify" class="btn btn-default">修 改</button>
                    <button id="btnDelete" class="btn btn-default">删 除</button>
                </div>
            </div>

            <table id="custGrid"></table>
        </div>
    </div>
</div>

@section scripts{
    @Styles.Render("~/Content/bootstraptable")
    @Scripts.Render("~/bundles/bootstraptable")
    <script>
        $(function () {
            var $goods = $("#goods");
            $goods.selectpicker({});
            setTimeout(function () {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetSelectName")",
                    dataType: "json",
                    cache: false,
                    beforeSend: function (XMLHttpRequest) {

                    },
                    success: function (data) {
                        $("#content").val("");
                        var html = '<option value="0">请选择</option>';
                        $.each(data, function (index, obj) {
                            html += '<option value="' + obj.OptionValue + '">' + obj.OptionText + '</option>';
                        });
                        $goods.empty();
                        $goods.append(html);
                        $goods.selectpicker('render');
                        $goods.selectpicker('refresh');
                    },
                    complete: function (XMLHttpRequest, textStatus) {

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {

                    }
                });
            }, 500);

            var $table = $("#custGrid");
            $table.bootstrapTable({
                toolbar: "#toolbar",
                toolbarAlign: "right",
                buttonsAligh: "right",
                showRefresh: true,  //暂不显示，当使用条件查询时，再调用刷新功能
                showToggle: true,
                showFooter: false,
                showColumns:true,    //显示所有列
                pagination: true,
                striped: true,              //是否显示行间隔色
                sidePagination: "server",
                //clickToSelect: true,
                singleSelect: true,   //单选
                pageNumber: 1,              //初始化加载第一页，默认第一页
                pageSize: 10,                 //每页的记录数
                pageList: "[5,10,20,50]",
                method: "post",
                url: "@Url.Action("FindCustomList")",
                queryParams: queryParams,         //前端调用服务时，会默认传递上边提到的参数
                queryParamsType: "",              //设置为 ''  在这种情况下传给服务器的参数为：pageSize,pageNumber
                dataType: "json",
                columns: [
                    {
                        title: "单选",
                        checkbox: true,
                        align: "center",
                        valign: "middle"
                    },
                    {
                        title: "ID",
                        field: "ID",
                        visible: true,
                        align: "center",
                        sortable:true,
                        valign: "middle"
                    },
                    {
                        title: "姓名",
                        field: "UserName",
                        align: "center",
                        valign: "middle"
                    },
                    {
                        title: "卡号",
                        field: "UserCode",
                        align: "center",
                        valign: "middle",
                        sortable: true
                    },
                    {
                        title: "卡类型",
                        field: "Type",
                        align: "left",
                        valign: "middle",
                        sortable: true
                    },
                    {
                        title: "卡状态",
                        field: "Status",
                        align: "left",
                        valign: "middle"
                    },
                    {
                        title: "库区",
                        field: "Warehouse",
                        align: "left",
                        valign: "middle"
                    },
                    {
                        title: "车位",
                        field: "LocAddress",
                        align: "center",
                        valign: "middle",
                        sortable: true
                    },
                    {
                        title: "手机",
                        field: "MobilePhone",
                        align: "center",
                        valign: "middle"
                    },
                    {
                        title: "车牌",
                        field: "PlateNum",
                        align: "center",
                        valign: "middle"
                    },                   
                    {
                        title: "家庭住址",
                        field: "FamilyAddress",
                        align: "center",
                        valign: "middle"
                    },
                    {
                        title: "使用期限",
                        field: "Deadline",
                        align: "center",
                        valign: "middle",
                        visible: false
                    },
                    {
                        title: "详情",
                        field: "Operate",
                        align: "center",
                        valign: "middle",
                        events: actionEvents,
                        formatter: operateFormatter
                    }
                ],

                formatLoadingMessage: function () {
                    return "请稍等，正在加载中...";
                },
                formatNoMatches: function () {
                    return "无符合条件的记录";
                }
            });

            function queryParams(params) {
                var name=$("#goods option:selected").val(); //value值
                var content=$("#content").val();
                return {
                    pageSize: params.pageSize,  //一定包含
                    pageIndex: params.pageNumber,  //一定包含
                    sortOrder: params.sortOrder,
                    sortName: params.sortName,
                    queryName: name,
                    queryValue: content
                };
            }

            function operateFormatter(value, row, index) {
                return '<a class="detail" href="javascript:void(0)" title="修改"><i class="glyphicon glyphicon-edit"></i></a>&nbsp;&nbsp;&nbsp;' +
                       '<a class="delete" href="javascript:void(0)" title="删除"><i class="glyphicon glyphicon-trash"></i></a>';
            }

            $("#search").click(function () {
                var $content = $("#content");
                var name = $("#goods option:selected").val(); //value值
                if (name != "0") {                    
                    if ($content.val() == "") {
                        BootstrapDialog.show({
                            title: "温馨提示",
                            message: "请输入查询内容！"
                        });
                        return;
                    }
                }
                $table.bootstrapTable("refresh");
                $content.val("");
            });
             
            $("#btnDelete").click(function () {
                $("#content").val("");
                var selected = $table.bootstrapTable('getSelections')[0];
                if (typeof (selected) == 'undefined')
                {
                    BootstrapDialog.warning("请选择一行数据！");
                }
                else
                {
                    var sID = selected.ID;
                    BootstrapDialog.confirm("<p class='text-center'>确定要删除用户<b>&nbsp;&lt;&nbsp;" + selected.UserName + "&nbsp;&gt;&nbsp;</b>的记录？</p>", function (result) {
                        if (result)
                        {
                            $.ajax({
                                type: "GET",
                                url: "@Url.Action("Delete")",
                                data: { ID: sID },
                                dataType: "json",
                                cache: false,
                                beforeSend: function (XMLHttpRequest) {
                                    $("#btnDelete").text("删除中");
                                },
                                success: function (data) {
                                    if (data.code == 1)
                                    {
                                        BootstrapDialog.show({
                                            title: "温馨提示",
                                            message: data.message
                                        });
                                    }
                                    else
                                    {                                        
                                        $table.bootstrapTable("refresh");
                                    }
                                },
                                complete: function (XMLHttpRequest, textStatus) {
                                    $("#btnDelete").text("删除");
                                },
                                error: function (XMLHttpRequest, textStatus, errorThrown) {

                                }
                            });
                        }
                    });
                }
            });

            $("#btnModify").click(function () {
                var selected = $table.bootstrapTable('getSelections')[0];
                if (typeof (selected) == 'undefined') {
                    BootstrapDialog.warning("请选择一行数据！");
                }
                else {
                    var sID = selected.ID;
                    window.location.href = "/CustomManager/CustomerManager/Edit?ID=" + sID;
                }
            });

        });

        window.actionEvents = {
            'click .detail': function (e, value, row, index) {
                window.location.href = "/CustomManager/CustomerManager/Edit?ID=" + row.ID;
            },
            'click .delete': function (e, value, row, index) {
                BootstrapDialog.confirm("<p class='text-center'>确定要删除用户<b>&nbsp;&lt;&nbsp;" + row.UserName + "&nbsp;&gt;&nbsp;</b>的记录？</p>", function (result) {
                    if (result)
                    {
                        $.ajax({
                            type: "GET",
                            url: "@Url.Action("Delete")",
                            data: { ID: row.ID },
                            dataType: "json",
                            cache: false,
                            beforeSend: function (XMLHttpRequest) {

                            },
                            success: function (data) {
                                if (data.code == 1) {
                                    BootstrapDialog.show({
                                        title: "温馨提示",
                                        message: data.Message
                                    });
                                }
                                else {
                                    window.location.href = "/CustomManager/CustomerManager/Index";
                                }
                            },
                            complete: function (XMLHttpRequest, textStatus) {

                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {

                            }
                        });                       
                    }
                });               
            }
        };

    </script>

    }
